{% include 'todoapp/header.html' %}

{% include 'todoapp/navbar.html' %}
{% block content %}
<div>
    <!-- <h1>Hello {{ user.username }}!</h1> -->
</div>

<h1 class = "list-header">Task list</h1>
<input type = "text" placeholder="Add Task here!" class = "input-task">
<button class = "add-btn" id = "add-task" onclick = "addTask(document.querySelector('.task-div'))">Add New Task</button>

<div class = "container task-div">
    {% for task in tasks %}
            <div class = "row draggable task-item justify-content-center order-{{ forloop.counter }}" draggable= "true" id = "{{ task.id }}">
                <div class = "col-8 taskinp-div"><input type = "text" name = "task" class = "task-desc" value = "{{ task }}" disabled></div>
                <div class = "col btn-div">
                    <button class = "task-btn del-btn">Delete</button>
                    <button type = "button" class = "task-btn edit-btn">Edit</button>
                    
                    {% if task.completed == 1 %}
                        <input type = 'checkbox' class = 'task-status' id = 'status' checked>

                    {% else %}
                        <input type = 'checkbox' class = 'task-status' id = 'status'>
                    {% endif %}
                </div>
            </div>
    {% endfor %}
</div>


{% endblock content %}
{% include 'todoapp/footer.html' %}



