body{
    background: #7C72ED;
}
.list-header{
    color: black;
}

.todo-div{
    background: #D3C0ED;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 700px;
    min-width: 300px;
    padding: 1.5em;
    border: 2px solid black;
}

.task-div{
    margin-top: .5em;
}

.draggable{
    cursor: move;
}
.task-item{
    padding: .5em;
    background: white;
}

